.content {
  background-color: var(--component-background);
  padding: calc(var(--gutter));
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0.8px 1.8px 12px -4px white;
  overflow: auto;
  margin: auto;
}

.fileInput {
  display: none;
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  min-width: 450px;
}
