.container {
  background-color: var(--component-background);
  padding: calc(var(--gutter));
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0.8px 1.8px 12px -4px white;
}

.fileInput {
  display: none;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: flex-end;
}
