.graphBox {
  width: 100%;
  height: 100%;
  background-color: var(--component-background);
  padding: var(--gutter);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.barHeader {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  display: inline-flex;
  gap: 10px;
  font-size: 0.8rem;
}

.buttonGroup button:hover {
  color: var(--accent2);
}

.activeButton {
  text-decoration: underline;
  color: var(--accent2);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.piechart {
  display: flex;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
}
