@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #1a1358;
  --main-background-light: #2d2479;
  --secondary-background: #4f3e8ba1;
  --background: radial-gradient(#3829be 0%, var(--main-background) 100%);

  --component-background: #1a1358e6;
  --accent: #f7ebff;
  --accent2: #ffb351;
  --text: #f7ebff;
  --text-2: black;

  --gutter: 20px;
  --radius: 10px;
  --button-padding: 5px 10px;

  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;

  --font-size-normal: 15px;

  --shadow: 0px 1.8px 12px -4px white;

  --max-w: 1400px;

  --light-border: 0.3px solid rgba(255, 255, 255, 0.64);
  --highest-layer: 1044;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  overscroll-behavior: none;
}

body {
  color: var(--text);
  background: var(--background) no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-normal);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--font-inter);
  font-weight: 600;
}

/* Reset for Buttons, Inputs, and Form Controls */
button,
input,
textarea,
select {
  all: unset; /* Reset all inherited and default styles */
  box-sizing: border-box; /* Include padding and border in element's width and height */
  font-family: inherit; /* Inherit font family from parent */
}

input,
select {
  width: 100%;
  background-color: var(--accent);
  padding: var(--button-padding);
  color: black;
  border-radius: var(--radius);
  border: 1px solid black;
  font-size: 0.8rem;
}

.button {
  box-shadow: var(--shadow);
  width: fit-content;
  padding: var(--button-padding);
  text-align: center;
  background-color: var(--accent);
  color: black;
  font-weight: bold;
  border-radius: var(--radius);
  font-size: 0.85rem;
}

button:not(:disabled):hover {
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: var(--accent2);
  box-shadow: 0px 1.8px 12px -4px #4cb3fc;
}

select:hover {
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

button:disabled {
  background-color: gray;
  box-shadow: none;
}

.mainContainer {
  height: 100vh;
  display: flex;
  padding: var(--gutter);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
