.container {
  background-color: var(--component-background);
  padding: var(--gutter);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0.8px 1.8px 12px -4px white;
  overflow: auto;
  margin: auto;
  align-items: center;
  min-width: 250px;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  .container {
    min-width: 100%;
    max-width: unset;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }
}
