.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.headerOptions {
  display: inline-flex;
  gap: var(--gutter);
  align-items: center;
}

.currentFile {
  display: inline-flex;
  gap: calc(var(--gutter) / 2);
}

.header h2 {
  flex-grow: 1;
}

.info {
  width: 100%;
  display: inline-flex;
  padding: 5px;
  gap: var(--gutter);
}

.graphs {
  width: 100%;
  display: inline-flex;
  gap: var(--gutter);
  padding: 5px;
}

.spendEarnGraph {
  flex: 3;
}

.categoryGraph {
  flex: 2;
}
