.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  gap: var(--gutter);
}

.graphs {
  width: 100%;
  height: auto;
  display: inline-flex;
  gap: var(--gutter);
  padding: 5px;
}

.spendEarnGraph {
  flex: 3;
}

.categoryGraph {
  flex: 2;
}

@media only screen and (max-width: 1350px) {
  .graphs {
    display: flex;
    flex-direction: column;
  }

  .spendEarnGraph {
    flex: unset;
    width: 100%;
  }

  .categoryGraph {
    flex: unset;
    width: 100%;
  }
}


