.content {
  padding: var(--gutter);
  padding-top: 70px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.innerContainer {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-background);
  padding: var(--gutter);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: var(--max-w);
}
