.content {
  flex: 1 1 auto;
  padding: var(--gutter);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.innerContainer {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-background);
  padding: var(--gutter);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: var(--max-w);
}
