.content {
  margin-top: 50px;
  padding: var(--gutter);
  position: relative;
  display: flex;
  justify-content: center;
}

.innerContainer {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-background);
  padding: var(--gutter);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: var(--max-w);
}
